@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+De+Haviland&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
  .dancing-script{
    font-family: "Mr De Haviland", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  
/* sherd styles */
*{
    margin: 0;
}
.mb{
    margin-bottom: 15px;
}
.text-center{
    text-align: center;
}
body{
    background-color:#000000;
}
.header-section,
.first-main
{
width: 85%;
margin: 0 auto;
}
header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}

.btn-primary{
    
    border-radius: 2.875rem;
    background: rgb(230, 83, 60);
    border: none;
    color: rgb(255, 255, 255);
font-size: 1.125rem;
font-weight: 600;
padding: 16px 40px 16px 40px;
transition: background-color 0.45s;
}
.btn-primary:hover{
    background-color: rgb(141, 40, 24);
}
.primary-heading{
    color: rgb(255, 255, 255);
font-size: 3rem;
font-weight: 900;
}
.primary-paragraph{
    color: rgba(255, 255, 255, 0.5);
font-size: 1rem;
font-weight: 400;
}
body button, a{
cursor: pointer;
}
/* header */
/* nav */
#nav-title{
    color:rgb(230, 83, 60);
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding: 3.375rem 0;
}
.second-div a{
    text-decoration: none;
    color: rgb(255, 255, 255);
font-size: 1.125;
font-weight: 400;
margin-right: 3.75rem;
}
.second-div{
    box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 2.4375rem;
padding: 5px;
}
.menu-bar{
    color: white;
}
.responsive-menu{
    display: none;
    
}
/* banner */
.banner-title{
    color: rgb(255, 255, 255);
font-size: 4.875rem;
font-weight: 900;
line-height: 120%;
}
#banner-btn{
background-color: #000000;
border: 1px solid rgb(255, 255, 255);
}
#banner-first-btn{
    margin-right: 1rem;
}
.banner-content h4, p{
    margin-bottom: 2.125rem;
}
.banner{
    margin-top: 2.75rem;
    display: flex
}
.banner-img{
    margin-right: 6.25rem;
    height: 100%;
}
.banner{
    gap: 170px;
    justify-content: space-between;
}
.tutorial > .tutorial-ball{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: rgb(230, 83, 60);
}
.banner-img{
    position: relative;
}
.tutorial-content-title{
    color: rgb(250, 250, 249);
font-size: 1.5rem;
font-weight: 900;
line-height: 1.5rem;
}
.tutorial-ball, .tutorial-content{
    margin-top: 30px;
}
.tutorial{
    display: flex;
    justify-content: center;
    width: 12.5rem;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 0.75rem;
backdrop-filter: blur(20px);
background: rgba(48, 48, 48, 0.54);
gap: 1rem;
position: absolute;
top: 415px;
right: 250px;
}
.workout{
    width: 12rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.75rem;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);    
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.25rem;
    
    position: absolute;
    top: 100px;
    right: -50px;
    padding-bottom: 5px;
    padding-left: 5px;
}
.workout-content{
    margin-top: 1.875rem;
}

/* main */
/* habit section */
.habits-section{
    margin-top: 6.25rem;
}

.habit-heading{
    color: rgb(255, 255, 255);
font-size: 1.125rem;
font-weight: 600;
text-align: center;
margin-top: 1.563rem;
}
.habit-img{
border-radius: 50%;
width: 15.625rem;
}
.habit-container{
    display: flex;
    justify-content: space-around;
    margin-top: 3.438rem;
}
/* practice section */
.practice-section{
    padding: 40px 40px 40px 40px;
    border-radius: 1.125rem;
    background: rgb(34, 34, 34);
display: flex;
justify-content: space-between;
height: 360px;
margin-top: 100px;

}
#practice-btn{
    width: 13.75rem;
}
.practice-conten{
    width: 100%;
    display: flex;
    align-items: center;
}
.run{
   border-radius: 1.125rem;
   height: 100%;
}
#practice-p{
    line-height: 1.875rem;
    
}
/* best body section  */
.best-body{
    margin-top: 100px;
    margin-bottom: 100px;
    
}
.card-perant{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 45px;
    margin-top: 50px;
}
.card{
    margin-top: 30px;
    text-align: center;
    background: rgb(34, 34, 34);
    width: calc(100% - 45px);
    height: 23.75rem;
    padding: 30px 30px;
    border-radius: 8px;
}
#card-title{
    margin-top: 15px;
    margin-bottom: 30px;
}
#choose{
   color: rgba(255, 255, 255, 0.5);
}
/* bmi section */
.bmi-section{
    width: 100%;
    margin-top: 100px;
    background: rgb(34, 34, 34);

}
.bmi{
    margin-top: 100px;
}
table{
    border-collapse: collapse;
}
td{
    border: 1px solid rgb(17, 9, 9);
    width: 220px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    padding-left: 20px;
    padding-top: 17px;
    padding-bottom: 17px;
}
.tabil-and-calculator{
    width: 85%;
    margin: 0 auto;
    padding: 40px 40px;
    display: flex;
    justify-content: space-between;
    gap: 110px;
}
#tabil-title{
    margin-bottom: 40px;
    
}
#input-fild{
    padding: 20px 20px;
    background-color: rgba(63, 62, 62, 0.5);
   border: none;
   border-radius: 8px;
   
}
.input input, select{
    font-size: 18px;
}

.bmi-title{
    color: rgb(255, 255, 255);
font-size: 28px;
font-weight: 900;
line-height: 120%;
}
.input{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
#bmi-btn{
    cursor: pointer;
    margin-top: 20px;
}
.this-section-heading{
    display: flex;
    justify-content: center;
}
.last-select{
    grid-column: span 2;
    padding: 20px 20px;
    background-color: rgba(63, 62, 62, 0.5);
   border: none;
   border-radius: 8px;
}

#first-select{
    width: 100%;
    padding: 20px 20px;
    background-color: rgba(63, 62, 62, 0.5);
   border: none;
   border-radius: 8px;
}
/* meet our team section */

/* footer */


/* mobile responsive */
@media screen and (max-width: 576px) {
    .header,
    .first-main
    {
        width: 100%;
        
    
    }
    
    nav > .second-div{
        display: none;
    }
    .responsive-menu{
        display: block;
        color: white;
    }
    /* banner */
    .banner{
        flex-direction: column;
        gap: 2.5rem;
    }
    .workout{
        top: 1.25rem;
        right: -6.875rem;
        width: 10.625rem;
        padding: 0 5px;
        
    }
    .tutorial{
        
top: 15.625rem;
right:5.625rem;
width: 10.625rem;
padding-left: 5px;
padding-right: 5px;
height: 6.25rem;
    }
    .btn{
        display: flex;
    }
    .hide{
        display: none;
    }
    .banner-title{
        color: rgb(255, 255, 255);
font-size: 36px;
font-weight: 900;
    }
    /* habit section */
    .habit-container{
        flex-direction: column;
        
    }
    .habits-section{
        margin-top: 5px;
    }
    /* practice section */
    .practice-section{
        flex-direction: column;
        height: 100%;
        margin: 0 10px;
       
    }
    .run{
        width: 100%;
        margin-top: 30px;
    }
    #practice-btn{
        width: 100%;
    }
    #practice-heading,
    #card-heading
    {
        font-size: 32px;
    }
    /* why choose us section */
    .card-perant{
        grid-template-columns: repeat(1, 1fr);
    }
    .card{
        margin: 0 auto;
        width: 300px;
    }
    

    
    /* bmi */
    .tabil-and-calculator{
        flex-direction: column;
        gap: 50px;
    }
    .bmi-section-title{
        text-align: left;
    }
    td{
        border: 1px solid rgb(17, 9, 9);
        width: 170px;
        color: rgba(255, 255, 255, 0.5);
        font-size: 1rem;
        font-weight: 400;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .tabil-and-calculator{
        width: 95%;
        padding: 0;
        margin: 0 auto;
        padding-top: 30px;
        padding-bottom: 30px;
     
        
        
    }

    #input-fild{
        padding: 12px 12px;
        background-color: rgba(63, 62, 62, 0.5);
       border: none;
       border-radius: 8px;
       width: 170px;
       height: 48px;
       
       
    }
    .input{
        grid-template-columns: 2fr;
       gap: 12px;
        width: 100%;
    }
    .last-select{
        grid-column: span 2;
        width: 100%;
    }
    #heading{
        font-size: 20px;
    }

    .input input, select{
        font-size: 16px;
        width: 100px;
        
    }
    .choto-fild{
        height: 48px;
    }
   .this-section-heading{
    margin-left: 15px;
   }
}
